.title {
    margin-bottom: 16px;
}
.caption {
    margin-bottom: 18px;
}
.text {
    margin-bottom: 40px;
}
.button {
    width: 193px;
    margin-left: auto;
    padding: 14px 20px;
    display: block;
    text-align: center;
    color: #fff;
    background-color: #7600dc;
    border-radius: 8px;
}