@import '../../assets/styles/vars';

.title {
    margin-bottom: 16px;
}
.caption {
    margin-bottom: 18px;
}
.text {
    margin-bottom: 40px;
}
.button {
    width: 193px;
    margin-left: auto;
    padding: 14px 20px;
    display: block;
    text-align: center;
    color: $white-text-color;
    background-color: $accent-violet-color;
    border-radius: 8px;
}