@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.modalImage {
    width: 100%;
    height: 252px;
    margin-bottom: 14px;
    object-fit: cover;
    border-radius: 14px;

    @include tablet {
        width: 461px;
    }
}

.titleWrapper {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.modelHighlight {
    color: #3470FF;
}

.infoWrapper {
    color: rgba(18, 20, 23, 0.50);
    font-size: 12px;
    line-height: 1.6;
    
    & span::after {
        content: '|';
        margin-left: 6px;
        margin-right: 6px;
    }
    
    & span:last-child::after {
        content: '';
    }

    & .clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: wrap;
    }
}

.descriptionStyle {
    margin-top: 14px;
    font-size: 14px;
}

.accessoriesTitleStyle {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 14px;
}

.conditionsTitleStyle {
    margin-top: 24px;
    margin-bottom: 15px;
    font-size: 14px;
}

.conditionsWrapper {
    margin-bottom: 24px;
    display: inline-block;

    & > span {
        display: inline-block;
        padding: 7px 14px;
        border-radius: 35px;
        background: #F9F9F9;
    }
}

.numberStyle {
    color: #3470FF;
}

.button {
    width: 168px;
    height: 44px;
    text-align: center;
    border-radius: 12px;
    border: none;
    color: #fff;
    background: #3470FF;
    cursor: pointer;
}