@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.wrapper {
    width: 274px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 29px;
    margin: 0 auto;

    @include tablet {
        width: 577px
    }

    @include desktop {
        width: 1183px;
    }
}

.wrapper::after {
    content: "";
    flex: auto;
}