@import '../../assets/styles/vars';

.loadMoreButton {
    width: 79px;
    padding: 0;
    margin: 50px auto 100px;
    display: block;
    background: none;
    border: none;
    color: $accent-blue-color;
    text-decoration-line: underline;
    cursor: pointer;
}