.loadMoreButton {
    display: block;
    width: 79px;
    padding: 0;
    margin: 100px auto;
    background: none;
    border: none;
    color: #3470FF;
    text-decoration-line: underline;
    cursor: pointer;
}