$accent-blue-color: #3470FF;
$accent-blue-hover-color: #004cff;
$accent-yellow-color: #ffe600;
$accent-violet-color: #7600dc;

$image-placeholder-color: rgb(237, 237, 237);

$rental-conditions-grey-color: #F9F9F9;

$black-text-color: #2c2c2c;
$grey-text-color: rgba(18, 20, 23, 0.50);
$white-text-color: #fff;

$backdrop-color: rgba(18, 20, 23, 0.50);

$modal-white-color: #fff;

$input-bg-color: #F7F7FB;
$select-dropdown-bg-color: #fff;
$select-dropwdown-text-color: rgba(18, 20, 23, 0.20);
$select-dropwdown-hover-text-color: #121417;
$select-border-style: 1px solid rgba(18, 20, 23, 0.05);