@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.wrapper {
    width: 274px;
    margin: 0 auto;
    display: flex;
    row-gap: 50px;
    column-gap: 29px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

    &::after {
        content: "";
        flex: auto;
    }

    @include tablet {
        width: 577px
    }

    @include desktop {
        width: 1183px;
    }
}